<!--
    File Name: footer.ejs
    Student Name: Jonathan Champ
    Student ID: 301230592
    Date: 2022-10-28
-->
<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5 id="copyright">&copy; Copyright 2022</h5>
    </div>
</nav>